@media (max-width: 600px) {
  button {
    width: 324px;
    font-size: 18px;
  }

  .box-info-basica {
    width: 100%;
  }

  .tela-3-1 h2 {
    font-size: 20px;
  }

  /* Caioooooooo */

  main {
    display: block;
  }

  .containerQuizz {
    margin-inline: auto;
    margin-top: 40px;
    width: 375px;
    height: 100%;
    background-color: #e5e5e5;
  }

  .criarQuizz {
    /* Pode remover box-sizing dps que Arthur add no geral */
    box-sizing: border-box;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 80px;
    background-color: #fafafa;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
  }

  .sumiu {
    display: none;
  }

  .container-seusQuizzes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .criarQuizz > h2 {
    font-weight: 400;
    font-size: 20px;
    color: #b9b9b9;
  }

  .criarQuizz > button {
    margin-top: 40px;
    font-weight: 400;
    font-size: 21px;
    color: #ec362d;

    width: 151px;
    height: 40px;

    background: #fafafa;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .criarQuizz > button:hover {
    background-color: blue;
  }

  .todoOsQuizzes {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
  }

  .title-todosOsQuizzes,
  .title-seusQuizzes {
    align-self: baseline;
    margin-top: 35px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
  }

  .title-seusQuizzes {
    margin-top: 0;
    align-self: auto;
  }

  .todoOsQuizzes .card {
    margin-top: 14px;
    position: relative;
    width: 340px;
    height: 181px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
      );
      border-radius: 5px;
      background-size: 100%;
    }
    
    .todoOsQuizzes .card img {
      width: 100%;
      margin-bottom: 10px;
  }

  .todoOsQuizzes p {
    position: absolute;
    text-align: center;
    padding: 0 20px;
    left: 0;
    bottom: 7px;

    font-weight: 400;
    font-size: 19px;

    color: #ffffff;
  }

  /* Caioooooooo */
}
