@media (max-width: 600px) {
  button {
    width: 324px;
    font-size: 18px;
  }

  .box-info-basica,
  .criar-pergunta {
    width: 100%;
  }

  .tela-3-1 h2,
  .tela-3-2 h2 {
    font-size: 20px;
  }

  /* Caioooooooo */

  main {
    display: block;
  }

  .containerQuizz {
    margin: 20px auto;
    width: 340px;
    height: 100%;
    background-color: #e5e5e5;
  }

  .criarQuizz {
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 33px 40px;

    background-color: #fafafa;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
  }

  .container-seusQuizzes {
    margin-top: 38px;
    justify-content: space-between;
  }

  .criarQuizz > h2 {
    font-weight: 400;
    font-size: 20px;
    color: #b9b9b9;
  }

  .criarQuizz > button {
    margin-top: 40px;
    font-weight: 400;
    font-size: 21px;
    color: #ec362d;
    padding: 8px;

    background: #fafafa;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .criarQuizz > button:hover {
    background-color: blue;
  }

  .todoOsQuizzes {
   
    flex-direction: column;
    margin-inline: auto;
  }

  h2.title-todosOsQuizzes{
    margin-bottom: 10px;
    margin-top: 35px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
  }

  h2.title-seusQuizzes {
    /* margin-bottom: 10px; */
    /* margin-top: 35px; */
    font-weight: 700;
    font-size: 20px;
    color: #000000;
  }

  .todoOsQuizzes .card {
    position: relative;
    width: 340px;
    height: 181px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 64.58%,
        #000000 100%
      );
      background-size: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      z-index: 1;
    }
    
    .todoOsQuizzes .card img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      
  }

  .todosOsQuizzes .card img {
    width: 100%;
    margin-bottom: 10px;
  }

  .container-cards {
    width: 100%;
  }

  .todosOsQuizzes p {
    position: absolute;
    text-align: center;
    padding: 0 20px;
    left: 0;
    bottom: 7px;
    word-break: break-all;
    font-weight: 400;
    font-size: 19px;

    color: #ffffff;
  }

  .todosOsQuizzes {
    position: relative;
  }
  .todosOsQuizzes img {
    position: absolute;
    right: 0;
    top: 30px;
  }

  .background {
    top:35px;
  }
 
  .escondido {
    display: none;
  }

  /* Caioooooooo */
}
