body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

.logo {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec362d;
  color: white;
  font-size: 37px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

.tela-3-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.tela-3-1 h2 {
  margin-top: 37px;
  margin-bottom: 29px;
  font-weight: 700;
  line-height: 23.44px;
  font-size: 27px;
}

.tela-3-1 input {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin-bottom: 9px;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.box-info-basica {
  background-color: #ffffff;
  height: 256px;
  margin: 0 auto;
  padding: 21px 18px 24px 18px;
  box-shadow: 0px 0px 10px 0px #0000000d;
  width: 600px;
}

button {
  margin-top: 29px;
  color: #ffffff;
  background-color: #ec362d;
  border-color: #ec362d;
  border-radius: 15px;
  height: 54px;
  width: 368px;
  font-size: 20px;
}

/* Caiooooo */

main {
  display: none;
}

/* Caiooooo */
