* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.3);
}

.logo {
  color: white;
  font-size: 37px;
}

.tela-3-1,
.tela-3-2,
.tela-3-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tela-3-1 h2,
.tela-3-2 h2,
.tela-3-3 h2 {
  margin-top: 37px;
  margin-bottom: 29px;
  font-weight: 700;
  line-height: 23.44px;
  font-size: 27px;
}

.tela-3-1 input,
.tela-3-2 input,
.tela-3-3 input {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin-bottom: 9px;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.box-info-basica {
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px #0000000d;
  width: 600px;
  padding: 21px 18px 24px 18px;
}

.criar-pergunta,
.criar-niveis {
  background-color: #ffffff;

  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px #0000000d;
  width: 600px;
  margin-bottom: 21px;
}

.criar-pergunta div:first-child,
.criar-niveis div:first-child {
  height: 74px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.criar-pergunta ul,
.criar-niveis ul {
  height: 74px;
  overflow: hidden;
}

.criar-pergunta .expandir div:first-child,
.criar-niveis .expandir div:first-child {
  padding: 0;
}

.criar-pergunta ul.expandir {
  height: 850px;
  display: flex;
  flex-direction: column;
  overflow: unset;
  padding: 21px 18px 24px 18px;
}
.criar-niveis ul.expandir {
  height: 550px;
  display: flex;
  flex-direction: column;
  overflow: unset;
  padding: 21px 18px 24px 18px;
}

button {
  margin-top: 29px;
  color: #ffffff;
  background-color: #ec362d;
  border-color: #ec362d;
  border-radius: 15px;
  height: 54px;
  width: 368px;
  font-size: 20px;
}

.criar-pergunta img,
.box-niveis img {
  width: 26px;
  height: 23px;
}

.escondido {
  display: none;
}

/* Caiooooo */

main {
  display: block;
}

.containerQuizz {
  margin-inline: auto;
  margin-top: 40px;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
}

.criarQuizz {
  /* Pode remover box-sizing dps que Arthur add no geral */

  margin-top: 77px;
  width: 1050px;
  height: 181px;
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 400px; */
  background-color: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.sumiu {
  display: none;
}

.container-seusQuizzes {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  width: 100%;
}

.criarQuizz > h2 {
  font-weight: 400;
  font-size: 20px;
  color: #b9b9b9;
  text-align: center;
}

.criarQuizz > button {
  margin-top: 40px;
  font-weight: 400;
  font-size: 21px;
  color: #ec362d;

  width: 151px;
  height: 40px;

  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.criarQuizz > button:hover {
  background-color: blue;
}

.todosOsQuizzes {
  margin-top: 20px;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}
.container-cards {
  margin-top: 14px;
  flex-wrap: wrap;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-inline: auto;
  margin-bottom: 20px;
}

.title-todosOsQuizzes,
.title-seusQuizzes {
  align-self: baseline;
  margin-top: 35px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.title-seusQuizzes {
  margin-top: 0;
  align-self: auto;
}

.todosOsQuizzes .card {
  position: relative;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  word-break: break-all;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  background-size: 100%;
  border-radius: 5px;
  z-index: 1;
}

.todosOsQuizzes p {
  position: absolute;
  text-align: center;
  padding: 0 20px;
  left: 0;
  bottom: 5px;

  font-weight: 400;
  font-size: 19px;
  z-index: 3;
  color: #ffffff;
}

.todosOsQuizzes .card img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
  position: relative;
}

.desktop-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 24px;
}

.desktop-11 h2 {
  color: black;
  font-weight: 700;
  font-size: 29px;
  margin: 20px 0;
}

.desktop-11 button {
  width: 380px;
}

.card-quiz {
  display: flex;
  position: relative;
  width: 580px;
  height: 381px;
  word-break: break-all;
  font-size: 24px;
}

.card-quiz img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  z-index: -1;
}

.card-quiz p {
  position: absolute;
  margin: 0 20px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  top: 300px;
  color: white;
  z-index: 4;
}

.white {
  color: #3c383c;
  background-color: #e5e5e5;
  border: inherit;
}

/* Tela 2 */

.tela-2 {
  width: 100%;
  height: 227px;
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-quizz {
  margin-top: 42px;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}

.title-banner {
  position: absolute;
  font-weight: 400;
  font-size: 39px;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-quizz {
  margin-inline: auto;
  width: 688px;
  margin-top: 70px;
}
.header-quizz {
  margin-inline: auto;
  width: 688px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #434ca0;
}

.header-quizz h2 {
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: #ffffff;
}

.container-cardQuizz {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 97px;
}

.cardQuizz:nth-child(1),
.cardQuizz:nth-child(2) {
  margin-top: 20px;
}

.cardQuizz {
  margin-top: 50px;
  width: 330px;
  height: 100%;
}

.cardQuizz img {
  width: 330px;
  height: 175px;
  object-fit: cover;
}

.cardQuizz p {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-top: 8px;
  word-break: break-word;
}

.cardQuizz > .wrong-answer {
  color: red;
}

.cardQuizz > .correct-answer {
  color: green;
}

.not-selected {
  opacity: 0.5;
}

.tela-resultado {
  margin-inline: auto;
  width: 727px;
}

.header-resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  height: 99px;
  background-color: #ec362d;
}

.header-resultado h2 {
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
}

.conteudo-resultado {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  width: 100%;
}

.conteudo-resultado img {
  width: 50%;
}

.conteudo-resultado p {
  display: block;
  width: 50%;

  font-weight: 700;
  font-size: 19px;
  line-height: 25px;

  color: #484848;
}

.buttons-resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  width: 100%;
  margin-top: 80px;
}

.buttons-resultado .back-home {
  font-weight: 400;
  font-size: 21px;
  color: #818181;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 80px;
}

.container-quizz-tela2 {
  margin-inline: auto;
  width: 688px;
}

/* Tela 2 */
